@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Outfit:wght@400;700&display=swap');

:root{
   --body: #272B33 ;
   --card: #3c3e44;
   --infoCardTitle: #9E9E9E;
}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Montserrat;
}

*:hover{
   cursor: default;
}

html{
   min-height: 100%;
}

body{
   background-color: var(--body) ;
   min-height: 100%;
}

header{
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
   height: 20%;
   background-color: white;
}

h1{
   font-size: 3em;
   margin-top: 20px;
   margin-bottom: 50px;
   text-transform: uppercase;
}

ul{
   margin-right: 20px;
   display: flex;
   width: 100%;
   justify-content: end;
}

li{
   font-size: 20px;
   margin: 20px 25px ;
   padding: 2px;
   font-weight: bold;
   list-style-type: none;
   transition: 0s, 0.5s, all ;
}

a{
   text-decoration: none;
   color:black;
}

a:hover{
   color: var(--card);
   text-decoration: underline;
   cursor: pointer;
}

#filter{
   line-height: 0;
   width: 10%;
}

#filter:focus{
   outline: none;
}

#search{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 0pc 10em;
}

#btn{
   background-color: white;
   color: black;
   border: none;
   height: 100%;
}

#search-input:focus{
   border: 0;
   outline: none;
}

#btn:hover{
   border: none;
   color: #9E9E9E;
}

.search-bar{
width: 100%;
display: flex;
justify-content: space-between;
background-color: white;
border-bottom: solid cornflowerblue 4px;
}

.ToggleSearchFavorite{
   display: flex;
   justify-content: center ;
   flex-direction: row;
   align-items: center;
   margin-left: 20px;
   padding: 4px;
   width: 322px;
}

input[type="radio"] {
   display: none;
}

.rating-label{
   position: relative;
   text-align: center;
   flex: 0.34;
   z-index: 3;
   font-weight: bold;
   cursor: pointer;
   transition: all .5s ;
   user-select: none;
}

.rating-label-favorite{
   color: black;
   left: 47px;
   text-align: left;
}

.rating-label-search{
   color: black;
   right: 30px;
   text-align: right;
}

.toggle-pill{
   position: relative;
   width: 3.5rem;
   height: 100%;
   border-radius:500px;
   background-color: rgb(222, 222, 222);
   margin: 0 10px;
   transition: all 500ms;
}

.Toggle{
   position: relative;
   width: 20px;
   height: 20px;
   background-color: rgb(50, 149, 237);
   right : -63px;
   border-radius: 500px;
   transition: all 500ms;
   z-index: 4;
   pointer-events: none;
}

#search-radio:checked~.rating-label-search{
   color: rgb(50, 149, 237);
   font-weight: bolder;
}

#search-radio:checked~.rating-label-favorite{
   color: black;
}

#favorite:checked~.rating-label-favorite{
   color: red;
}

#favorite:checked~.rating-label-search{
   color: black;
}

#favorite:checked~.Toggle{
   right: -33px;
   background-color: red;
}

#search-input{
   border: 0;
   width: 100%;
   cursor:text;
   transition: all .5s ;
}

section.Invi{
   display: none;
}

section{
   display: grid;
   grid-template-columns: 50% 50%;
   align-content: center;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

svg{
   position: absolute;
   bottom: 0;
}

svg.left{
   left: 50px;
}

svg.rigth{
   right: 50px;
}