@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Outfit:wght@400;700&display=swap');

:root{
   --body: #272B33 ;
   --card: #3c3e44;
   --infoCardTitle: #9E9E9E;
}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Montserrat;
}

*:hover{
   cursor: default;
}

body{
   background-color: var(--body) ;
}

header{
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
   height: 20%;
   background-color: white;
}

h1{
   font-size: 4em;
   margin-top: 20px;
   margin-bottom: 50px;
   text-transform: uppercase;
}

ul{
   margin-right: 20px;
   display: flex;
   width: 100%;
   justify-content: end;
}

li{
   font-size: 20px;
   margin: 20px 25px ;
   padding: 2px;
   font-weight: bold;
   list-style-type: none;
   transition: 0s, 0.5s, all ;
}

a{
   text-decoration: none;
   color:black;
}

a:hover{
   color: var(--card);
   text-decoration: underline;
   cursor: pointer;
}

#filter{
   line-height: 0;
   width: 10%;
}

#filter:focus{
   outline: none;
}

#search{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 0pc 10em;
}

#btn{
   background-color: white;
   color: black;
   border: none;
   height: 100%;
}

#search-input:focus{
   border: 0;
   outline: none;
}

#btn:hover{
   border: none;
   color: #9E9E9E;
}

.search-bar{
width: 100%;
display: flex;
justify-content: space-between;
background-color: white;
border-bottom: solid cornflowerblue 2px;
}



#search-input{
border: 0;
width: 100%;
cursor:text;
transition: all .5s ;
}



section{
   display: grid;
   grid-template-columns: 50% 50%;
   align-content: center;
   justify-content: center;
   align-items: center;
}

svg{
   margin: auto auto;
   padding: 10px;
}