div.character{
   display: flex;
   justify-content: space-between;
   background-color: var(--card) ;
   border-radius: 10px;
   margin: 30px 30px; 
   max-width: 800px;
   max-height: 300px;

}

div.character > img {
   height: 40%;
   width: 40%;
   border-radius: 10px 0px 0px 10px;
}

div.buttons{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

button.close{
   height:fit-content;
   background-color:var(--card);
   border: none;
   color: white;
   font-size: 25px;
   padding: .3em .5em;
   border-radius: 10px;
   border: solid 3px rgba(0, 0, 0, 0);
   transition: all .2s;
   translate: none;
}

button.favorite{
   color:white;
   background-color: var(--card);
   border: 0;
   padding:.3em .5em ;
   transition: all .2s;
   translate: none;
}

button.favorite:hover{
   color: red;
}

button:hover{
   color: black;
}

div.content{
   margin: 10px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

h3{
   color: white;
   font-size: 30px;
}

span{
   color: white;
   font-size: 20px;
}

span.state{
   margin-bottom: 20px;
   font-weight: bold;
}

p{
   color: var(--infoCardTitle);
   font-size: 15px;
}

